<div id="cadastro" class="modal">
    <div class="modal-content">
    <h5>Contato</h5>
    <div class="row">
        <form class="col s12">
            <input type="hidden" id="contactId" name="id">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Nome" id="name" type="text" class="validate">
                    <label for="name">Nome</label>
                </div>        
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="(99) 99999-9999" id="phone" data-mask="(00)00000-0000" type="text" class="validate">
                    <label for="phone">Telefone</label>
                </div>        
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Operadora" id="operator" type="text" class="validate">
                    <label for="operator">Operadora</label>
                </div>        
            </div>
        

        </form>
    </div>
        
    </div>
    <div class="modal-footer">
        <a id="submit-contact" class="modal-close waves-effect waves-light btn col offset-s11 s1">Enviar</a>
    </div>
</div>